$accent-color: #2196f3;
$color-for-nothing: #ffffff;
$just-color: #212121;
$about-color: #757575;
$shadow-color: #2f303a;
$background-color-for-team-cards: #f5f4fa;
$color-for-hover: #2196F3;
$color-for-modal-p: #757575;